*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
main{
    margin: 10%;
    background-color: aquamarine;
    padding: 6% 10%;
    border-radius: 3px;
    box-shadow: 4px 4px 6px 2px rgb(180, 180, 180);
}
h2{
    font-size: 5vw;
    margin: 1.5rem 0 ; 
}
p{
    margin: 1rem 0;
}
h3{
    margin: 1rem 0;
}
li{
    margin: .75rem 0;
}
code{
    background-color: grey;
    border-radius: 2px;
    padding: 2px;
}
code>a{
    color: white;
}
@media only screen and (max-width: 500px)  {
    h2{
        font-size: 30px;
    }
}