<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="{{ url_for('static',filename='OIP.jpeg') }}" type = "image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <title>REST - rest-quotes-api</title>
</head>
<body>
    <main>
        <h2><a href="https://github.com/iamBijoyKar/rest-quotes-api" target="_blank">rest-quotes-api</a></h2>
        <p>rest-quotes-api is REST API written in Flask - Python. It generates quote by responding with JSON. It has 3 end points, those are mentioned below. For further knownledge visit the <a href="https://github.com/iamBijoyKar/rest-quotes-api" class="bold">Github Repo</a> to read the documentation.</p>
        <h3>End points :</h3>
        <ul>
            <li><code><a href="/api/quotes/random">'/api/quotes/random'</a></code></li>
            <li><code><a href="/api/quotes">'/api/quotes'</a></code></li>
            <li><code><a href="/api">'/api'</a></code></li>
        </ul>
    </main>
</body>
</html>